.entry-container {
  background-color: #0185B6;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 100%; 
  text-align: center;
  min-height: 100vh;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.entry-container form {
  display: flex;
  flex-direction: column;
  width: 90%; 
  max-width: 200px; 
}

.entry-container label,
.entry-container input,
.entry-container button {
  margin-bottom: 20px; 
}
.initsession {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    background-color: #328924; 
    color: white; 
    border: none; 
    padding: 10px 30px; 
    border-radius: 20%; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; 
}