.button-focus-container {
    display: flex;
    align-items: center;  
    justify-content: center; 
    background-color: transparent; 
    border: 2px solid grey; 
    cursor: pointer;
    min-width: 250px; 
    padding: 10px 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
}

.buttonfocus-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    
}

.icon-container svg { 
    fill: yellow; 
    width: 30px; 
    height: 30px; 
}

.buttonfocus-text-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black; 
    margin-left: 10px; 
}
