/* Home.css */
.homepart {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos verticalmente para móviles */
    padding: 0;
    width: 100%;
    padding-bottom: 70px;
  }
  .navbar-home {
    background-color: #0185B6;
    width: 100%;
    margin: 0;
    padding: 0 0 0 0;
    top: 0;
    color: white;
  }
  .navbar-home-title {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
    padding: 10px;
    
  }
  h1 {
    text-align: left;
    margin: 0;
  }
  .logo-navbar {
    height: 10vmin;
    pointer-events: none;
    border-radius: 100%;
    align-self: center;
    margin-top: -20px;

  }
  .home-infoshow {
    display: flex;
    justify-content: center; /* Centra los elementos */
    align-items: center;
    padding: 0 20px;
  }
  .home-infoshow > * {
    margin: 0 15px;
  }
  .home-buttonfocus {
    display: flex;
    flex-direction: column;  /* Alinea los elementos en una columna */
    align-items: center;     /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente (opcional si tienes altura definida) */
    gap: 10px;               /* Espacio entre los botones */
  }
  
  
  
  @media (max-width:640px) {
    .header {
        display: none;
    }
    .navbar-home {
      padding: 50px 0 0 0;
    }
    
}