.mobilebar-container {
    display: none; 
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 30px; 
    padding: 10px 20px 10 20px; 
    margin: 5px;
}

@media (max-width:640px) {
    .mobilebar-container {
        display: flex; 
    }
}

.icon-home {
    display: flex;
    align-items: center; 
    color: black; 
    margin: 5px;
}

.icon-home svg{
    width: 30px;
    height: 30px;
}

.icon-home span {
    margin-left: 5px; 
}

.notification-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
}
